[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = I don't know wether one can hack nasa with html or not!! But we can create Simple desktop apps with HTML, CSS and JavaScript
[access "refs/*"]
	owner = group user/Salman Dabbakuti (Salmandabbakuti)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Salman Dabbakuti (Salmandabbakuti)
	label-Verified = -1..+1 group user/Salman Dabbakuti (Salmandabbakuti)
	push = group user/Salman Dabbakuti (Salmandabbakuti)
	read = group user/Salman Dabbakuti (Salmandabbakuti)
	rebase = group user/Salman Dabbakuti (Salmandabbakuti)
	removeReviewer = group user/Salman Dabbakuti (Salmandabbakuti)
	submit = group user/Salman Dabbakuti (Salmandabbakuti)
[access "refs/heads/*"]
	create = group user/Salman Dabbakuti (Salmandabbakuti)
	push = +force group user/Salman Dabbakuti (Salmandabbakuti)
	pushMerge = group user/Salman Dabbakuti (Salmandabbakuti)
	read = group user/Salman Dabbakuti (Salmandabbakuti)
[access "refs/tags/*"]
	push = group user/Salman Dabbakuti (Salmandabbakuti)
	push = +force group user/Salman Dabbakuti (Salmandabbakuti)
